top, #bottom, #left, #right {
    background: #37045c;
    position: fixed;
}
	#left, #right {
		top: 0; bottom: 0;
        width: 30px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 30px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

body {
    background-color: #008b07;
    background-repeat: no-repeat;
    background-position: center;
}

section {
        display: inline-block;
    }

div {
    background-color: green; 
    height: 100px;
    width: 100px;
   }